#calculator {
  width:390px;
  border:1px solid #000;
  border-radius: 4px;
  font-family:sans-serif;
}
#calculator-display {
  color:#fff;
  font-size:40px;
  background:#29292E;
  margin:10px;
  padding:10px;
  min-height:65px;
  text-align:right;
}
#calculator-button {
  text-align:center;
  padding-top:10px;
  background:#fff;
}
#calculator-button button {
  padding:0;
  width:90px;
  font-size:20px;
  color:#fff;
  background:#663300;
}
#calculator-button button.evaluate {
  width:183px;
}
#calculator-button button.operation, #calculator-button button.percentage, #calculator-button button.dot, #calculator-button button.plusminus {
  background:#F5923E;
}
#calculator-button button.clear {
  background:#FF0000;
}
