#calculator {
  width:390px;
  border:1px solid #000;
  border-radius: 4px;
  font-family:sans-serif;
}
#calculator-display {
  color:#fff;
  font-size:40px;
  background:#29292E;
  margin:10px;
  padding:10px;
  min-height:65px;
  text-align:right;
}
